body {
    background-color: rgb(236, 221, 243);
    font-family: 'Nunito', sans-serif;
}

.titulo {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: calc(100vw / 2);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
}

.item {
    width: 150px;
    height: 170px;
    background-color: rgb(236, 221, 243);
}

.item__imagem {
    width: 150px;
    margin: 0 auto;
}

.invisivel {
    opacity: 0;
}